<section class="task_app">
  <header class="header">
    <h1>{{title}}</h1>
    <h3>An app that records for you the tasks that you want to do, and helps you remember them.</h3>
    <input class="add_task" placeholder="Type your task (Enter when done)" autofocus="" [(ngModel)]="newTask.title" (keyup.enter)="createTask()">
  </header>
  <section class="main" *ngIf="tasks.length > 0">
    <ul class="task-list">
      <li *ngFor="let task of tasks" [class.done]="task.done_status">
        <div class="view">
          <input class="modify_done" type="checkbox" (click)="modifyDoneStatus(task)" [checked]="task.done_status">
          <label>{{task.title}}</label>
          <button class="destroy" (click)="deleteTask(task)"></button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="undone_tasks_num > 0">
    <span class="task-number"><strong>{{undone_tasks_num}}</strong> {{undone_tasks_num == 1 ? 'item' : 'items'}} left</span>
  </footer>
</section>
